.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }
  @media (max-width: 767px) {
    header {
        background-color: #333;
    }
  }
  @media (max-width: 767px) {
    nav {
        font-size: 16px;
    }
  }
  @media (min-width: 1200px) {
    header {
        width: 1200px;
    }
  }
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  nav a:hover {
    color: #1BF7DE;
  }